.carta {
  width: 228px;
  height: 150px;
  padding: 3px;
  border-color: #000;
  border-style: solid;
  border-width: 6px;
  background-color: #000;
}

.dobles {
  width: 150px;
  height: 150px;
  border-color: #000;
  border-style: solid;
  border-width: 6px;
}

.loteria {
  max-width: 940px;
  max-height: 600px;
  margin-top: 1rem;
  margin-bottom: 100px;
}

span {
  font-family: "Lobster", cursive;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-top: 113px;
  padding-right: 6px;
  color: #fff;
  background-color: #000;
  height: 600px;
  max-height: 600px;
  font-size: 30px;
}
