<div class="container">
  <br />
  <!-- #region Title -->
  <div class="row">
    <div class="col-12">
      <h1>Generador de Cartas de Loteria Mexicana</h1>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region Nombre -->
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <h5 for="name_top">Nombre:</h5>
        <input
          type="text"
          class="form-control"
          id="name_top"
          placeholder="Nombre del propietario"
          [(ngModel)]="name_top"
        />
      </div>
    </div>
    <div class="col-6"></div>
  </div>
  <!-- #endregion -->

  <!-- #region Tipo de Carta -->
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <h5 for="name_top">Tipo de Carta</h5>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="conDobles"
            id="conDobles"
            value="true"
            [(ngModel)]="dobles"
          />
          <label class="form-check-label" for="conDobles">Con Dobles</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sinDobles"
            id="sinDobles"
            value="false"
            [(ngModel)]="dobles"
          />
          <label class="form-check-label" for="sinDobles">Sin Dobles</label>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
  <!-- #endregion -->

  <!-- #region Dobles -->
  <div class="row">
    <div class="col-10">
      <div class="mb-3">
        <h5 for="name_top">Ubicacion de los Dobles</h5>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="666"
            id="666"
            value="666"
            (change)="ubicacionDobles()"
            [(ngModel)]="ubicacion"
          />
          <label class="form-check-label" for="666">Aleatorio</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="14"
            id="14"
            value="14"
            (change)="ubicacionDobles()"
            [(ngModel)]="ubicacion"
          />
          <label class="form-check-label" for="14">Centro (1 y 4)</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="710"
            id="710"
            value="710"
            (change)="ubicacionDobles()"
            [(ngModel)]="ubicacion"
          />
          <label class="form-check-label" for="710">Centro (7 y 10)</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="611"
            id="611"
            value="611"
            (change)="ubicacionDobles()"
            [(ngModel)]="ubicacion"
          />
          <label class="form-check-label" for="611">Centro (6 y 11)</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="116"
            id="116"
            value="116"
            (change)="ubicacionDobles()"
            [(ngModel)]="ubicacion"
          />
          <label class="form-check-label" for="116">Esquinas (1 y 16)</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="413"
            id="413"
            value="413"
            (change)="ubicacionDobles()"
            [(ngModel)]="ubicacion"
          />
          <label class="form-check-label" for="413">Esquinas (4 y 13)</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="113"
            id="113"
            value="113"
            (change)="ubicacionDobles()"
            [(ngModel)]="ubicacion"
          />
          <label class="form-check-label" for="113">Esquinas (1 y 13)</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="416"
            id="416"
            value="416"
            (change)="ubicacionDobles()"
            [(ngModel)]="ubicacion"
          />
          <label class="form-check-label" for="416">Esquinas (4 y 16)</label>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-12">
      <img class="dobles" [src]="ubicacionDoblesIMG" alt="Diagrama de ubicación de dobles" />
    </div>
  </div>
  <br />
  <!-- #endregion -->

  <!-- #region Cartas a Generar -->
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <h5 for="name_top">Cartas a Generar</h5>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="toda" id="toda" value="0" [(ngModel)]="cuantas" />
          <label class="form-check-label" for="toda">Toda la Baraja (54)</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="algunas" id="algunas" value="1" [(ngModel)]="cuantas" />
          <label class="form-check-label" for="algunas">X Cartas</label>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
    <div class="col-6">
      <div class="mb-3">
        <h5 for="name_top">Cuantas?</h5>
        <input
          [disabled]="cuantas === '0'"
          type="text"
          class="form-control"
          id="cantidad"
          placeholder="Cantidad de Cartas a Generar"
          [(ngModel)]="cantidad"
        />
      </div>
    </div>
    <div class="col-6"></div>
  </div>
  <!-- #endregion -->

  <!-- #region Boton -->
  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="create_cards()">Generar Loteria</button>
    </div>
    <div class="col-10"></div>
  </div>
  <!-- #endregion -->

  <!-- #region Loteria -->
  @for (c of cards; track $index; let i = $index) {
  <div [id]="'loteria-' + i" class="loteria">
    <div class="row">
      <div class="col-11">
        <div class="row">
          @for (it of c; track $index) {
          <div class="col-3">
            <img class="carta" [src]="it[2]" [alt]="it[1]" />
          </div>
          }
        </div>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-center">
        <span>{{ name_top }}</span>
      </div>
    </div>
  </div>
  }
  <!-- #endregion -->
</div>
